*{
    padding: 0px;
    margin: 0px;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.na{
    max-width: 1170px;
}
.head{
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100px;
}
h1{
    font-size: 2rem;
    padding-left: 50px;
    cursor: pointer;
}
ul{
    display: flex;
    margin-right: 40px;
}
ul li{
    padding: 25px;
    list-style-type: none;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.art{
    display: flex;
    align-items: center;
    justify-content:center;
    padding : 20px;
    box-sizing: border-box;
    margin-top: 150px;
    width: 100%;
}
.eve{
    
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d1{
    
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pr1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    text-justify: auto;
    color: white;
}
.d2{
    
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn1,.btn2{
    background-color: navy;
    color: white;
    width: 49%;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0.8;
    border-style: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1 p{
    font-size: 1.1rem;
}
.btn1:focus,.btn2:focus{
    background-color: whitesmoke;
    color: navy;
    height: 65px;
}
.ft{
    background-color:black;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.r{
    color: white;
}


